body {
    font: 15px "Helvetica Neue";
}

.frame {
    padding: 10px 0 20px 0;
}

.cellophane {
    width: 60%;
    margin: 70px auto 30px auto;
    max-width: 1000px;
    background-color: rgba(24,24,24,.8);
    font-size: 1em;
}

.twit-box {
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.twit-screen-name {
    color: #92d6ff;
    position: relative;
    float: left;
    width: 50%;
    text-align: left;
}

.twit-created {
    color: #ffcd6d;
    position: relative;
    float: left;
    width: 50%;
    text-align: right;
}

.twit-text {
    color: #ffffff;
    position: relative;
    padding-top:10px;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
}

.image-box {
    min-height: 100px;
    text-align: center;
    color: #fff;
    padding: 15px 0 15px 0;
    background-color: blue;
}


@media screen and (max-width: 700px) {
    .cellophane {
        width: 100%;
    }
}
