<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>what star</title>
  <meta name="description" content="An very basic example of how to use the Wookmark jQuery plug-in.">
  <meta name="author" content="Christoph Ono, Sebastian Helzle">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="{{ url_for('static',filename='style/reset.css') }}">

  <!-- Global CSS for the page and tiles -->
  <link rel="stylesheet" href="{{ url_for('static',filename='style/main.css') }}">
        <style>
            html{
                background: url({{ url_for('static',filename='images/')}}{{ background_image }}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
</head>

<body>

  <div id="container">
    <header>
      <h1>what star</h1>
    </header>
    <div id="main" role="main">

      <ul id="tiles">
        <!-- These are our grid blocks -->
          {% for twit in twits %}
              {% if twit.twit_media_url == '' %}
                <li data-twit-img-type="profile" data-twit-id="{{ twit.twit_id }}"><img src="{{ twit.twit_profile_image_url }}" width="300px" height="300px"><p>{{ twit.twit_text }}</p></li>
              {% else %}
                <li data-twit-img-type="profile" data-twit-id="{{ twit.twit_id }}"><img src="{{ twit.twit_media_url }}" width="300px" height="{{ (300*twit.twit_media_height)/twit.twit_media_width }}px"><p>{{ twit.twit_text }}</p></li>
              {% endif %}
          {% endfor %}
      </ul>

    </div>
  </div>

  <!-- include jQuery -->
  <script src="{{ url_for('static',filename='scripts/jquery.min.js') }}"></script>

  <script src="{{ url_for('static',filename='scripts/jquery.imagesloaded.js') }}"></script>

  <!-- Include the plug-in -->
  <script src="{{ url_for('static',filename='scripts/jquery.wookmark.min.js') }}"></script>

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
     (function ($){
      var $tiles = $('#tiles'),
          $handler = $('li', $tiles),
          $main = $('#main'),
          $window = $(window),
          $document = $(document),
          options = {
            autoResize: true, // This will auto-update the layout when the browser window is resized.
            container: $main, // Optional, used for some extra CSS styling
            offset: 20, // Optional, the distance between grid items
            itemWidth: 310 // Optional, the width of a grid item
          };

      /**
       * Reinitializes the wookmark handler after all images have loaded
       */
      function applyLayout() {
        $tiles.imagesLoaded(function() {
          // Destroy the old handler
          if ($handler.wookmarkInstance) {
            $handler.wookmarkInstance.clear();
          }

          // Create a new layout handler.
          $handler = $('li', $tiles);
          $handler.wookmark(options);
        });
      }

      /**
       * When scrolled all the way to the bottom, add more tiles
       */
      function onScroll() {
        // Check if we're within 100 pixels of the bottom edge of the broser window.
        var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
            closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);

        if (closeToBottom) {
          // Get the first then items from the grid, clone them, and add them to the bottom of the grid
            var last_twit_id = $('#tiles li:last-child').data('twit-id');
            var url = '/twit/before/'+last_twit_id+'?status=New';
            $.ajax({
                url: url,
                dataType: 'jsonp',
                success: function (results) {
                    if(results.successful){
                        $.each(results.data, function (index, twit) {
                            if(twit.twit_media_url==''){
                                var result = '<li data-twit-img-type="profile" data-twit-id="'+ twit.twit_id +'"><img src="'+ twit.twit_profile_image_url +'" width="300px" height="300px"><p>'+ twit.twit_text +'</p></li>';
                            }else{
                                result = '<li data-twit-img-type="media" data-twit-id="'+ twit.twit_id +'"><img src="'+ twit.twit_media_url +'" width="300px" height="'+(300*twit.twit_media_height)/twit.twit_media_width+'px"><p>'+ twit.twit_text +'</p></li>';
                            }
                            $tiles.append(result);
                        });
                    }
                }
            });

/*
          var $items = $('li', $tiles),
              $firstTen = $items.slice(0, 10);
          $tiles.append($firstTen.clone());
*/
          applyLayout();
        }
      };

      // Call the layout function for the first time
      applyLayout();

      // Capture scroll event.
      $window.bind('scroll.wookmark', onScroll);
    })(jQuery);

  </script>

</body>
</html>
