<!DOCTYPE HTML>
<html lang="en-US">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">

        <!-- This is the main grid stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/lemonade.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/whatstar.css') }}">

        <title>what star</title>

        <style>
            html{
                background: url({{ url_for('static',filename='images/')}}{{ background_image }}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="cellophane">
            {%  for twit in twits %}
            <div class="frame">
                <div class="bit-2">
                    <div class="image-box"><img width="100%" src="{{ twit.twit_profile_image_url }}"></div>
                </div>
                <div class="bit-2">
                    <div class="twit-box" onclick="window.open('https://twitter.com/{{ twit.twit_screen_name }}/status/{{ twit.twit_id }}','_blank')">
                        <div class="twit-screen-name">@{{ twit.twit_screen_name }}</div>
                        <div class="twit-created">{{ get_pretty_date_time_string(twit.twit_created_at) }}</div>
                        <div class="twit-text">{{ twit.twit_text }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
    </body>
</html>